.order-table td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 575.98px) {
  .custom-container {
    margin-top: 20%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-container {
    margin-top: 15%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-container {
    margin-top: 10%;
  }
}
.btn-order {
  background-color: #ffe1e1;
}
