.fav-food {
  font-size: 40px;
  padding-left: 15%;
}
.paragraph {
  padding-left: 15%;
  font-size: 15px;
}
.view-menu {
  padding-left: 15%;
}
@media (min-width: 576px) and (max-width: 768px) {
  .fav-food {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .paragraph {
    font-size: 11px;
  }
}

@media (min-width: 322px) and (max-width: 575px) {
  .fav-food {
    font-size: 20px;
    display: inline-flex !important;
    padding-left: 20%;
    padding-right: 2%;
  }
}
@media (min-width: 322px) and (max-width: 575px) {
  .view-menu {
    padding-left: 20%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 18px;
  }
}
@media (min-width: 322px) and (max-width: 575px) {
  .main-header {
    margin-top: 20% !important;
  }
}
@media (min-width: 322px) and (max-width: 575px) {
  .main-header {
    margin-top: 20% !important;
  }
}
