.fav-food {
  font-size: 40px;
  padding-left: 15%;
}
.paragraph {
  padding-left: 15%;
  font-size: 15px;
}
.view-menu {
  padding-left: 15%;
}
@media (min-width: 576px) and (max-width: 768px) {
  .fav-food {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .paragraph {
    font-size: 11px;
  }
}

@media (min-width: 322px) and (max-width: 575px) {
  .fav-food {
    font-size: 10px;
    display: flex !important;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 2%;
  }
}
@media (min-width: 322px) and (max-width: 575px) {
  .paragraph {
    font-size: 9px;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (min-width: 322px) and (max-width: 575px) {
  .view-menu {
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 10px;
  }
}
